@font-face {
    font-family: 'HSBombaram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
h1 {
    margin: 0;
}

body {
    width: 100%;
    height: 150vh;
    font-family: 'HSBombaram';
}

.maskWrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(iu.jpg);
    background-size: cover;
}

.title {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 1px 1px 10px black;
}

.titleWrap {
    mask: url(mask.png);
    -webkit-mask: url(mask.png);
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 10px black;
}